Repository yceffort/research: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,yaml,yml}"
      run: pnpm exec eslint --fix {staged_files}
    prettier:
      glob: "*.{ts,cts,tsx,js,cjs,jsx,json,md,yaml,yml}"
      run: pnpm exec prettier --write {staged_files}
    stylelint:
      glob: "*.{scss,css}"
      run: pnpm exec stylelint --fix {staged_files}
commit-msg:
  commands:
    commit-helper:
      run: "pnpm exec commit-helper {1}"

🔧 Remove stylelint command from pre-commit hooks and CI workflow
  .github/workflows/ci.yaml
  lefthook.yml
Due: eslint, prettier

🔧 Refactor YAML files for consistent quoting style
  .prettierignore
Due: none

🔧 Update configuration files for consistent quoting style and enhance pre-commit commands
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/optimize-images.yaml
  lefthook.yml
Due: eslint, prettier

📚 README.md 파일 업데이트: 프로젝트 소개, 기술 스택, 주요 기능 및 슬라이드 작성 방법 추가
  README.md
Due: prettier

🔧 패키지 버전 업데이트: @tailwindcss/postcss, @tailwindcss/node, @types/node, lefthook, next 및 pnpm의 버전을 각각 4.0.17, 4.0.17, 22.13.14, 1.11.6, 15.2.4, 10.7.0으로 업데이트
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

🚀 use client use server
  package.json
  pnpm-lock.yaml
  research/use-server-user-client.md
Due: eslint, prettier

🔍 Improve clarity on tight coupling risks in client-server architecture
  research/use-server-user-client.md
Due: prettier

🚀
  research/pie-bot-help-wanted.md
  src/app/slides/[slug]/layout.tsx
Due: eslint, prettier

🚀
  package.json
  pnpm-lock.yaml
  research/what-is-LLM.md
  research/what-is-RAG.md
  src/components/Marp.tsx
  src/lib/marp.ts
Due: eslint, prettier

RAG 수정
  research/what-is-RAG.md
Due: prettier

🔄 RAG 문서 업데이트: 역할 분리 및 구조 확장 내용 추가
  research/what-is-RAG.md
Due: prettier

🔧 의존성 변경: '@naverpay/commit-helper'를 '@naverpay/commithelper-go'로 업데이트
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

📝 문서 수정: RAG 관련 내용의 표현 개선 및 문장 구조 조정
  research/what-is-RAG.md
Due: prettier

📝 문서 수정: RAG 핵심 변화 문구 정리 및 가독성 향상
  research/what-is-RAG.md
Due: prettier

🔄 문서 수정: 역할 분리 문구 개선 및 문장 구조 조정
  research/what-is-RAG.md
Due: prettier

📝 문서 수정: LLM의 실수 가능성 강조 및 코드 이해의 중요성 추가
  research/what-is-RAG.md
Due: prettier

✨ 슬라이드 페이지 및 스타일 개선: JSON 파싱 에러 처리 추가, 클릭 및 키보드 네비게이션 기능 강화, 접근성 개선
  src/app/slides/[slug]/page.tsx
  src/components/MarpSlides.module.scss
  src/components/MarpSlides.tsx
Due: eslint, prettier, stylelint

🔧 문서 수정: LLM 관련 태그 제거 및 문장 수정, RAG 관련 태그 제거
  research/what-is-LLM.md
  research/what-is-RAG.md
  src/components/MarpSlides.tsx
Due: eslint, prettier

Update dependencies for React Flight RCE advisory
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

🔒 Fix security vulnerabilities in dependencies
  package.json
  pnpm-lock.yaml
Due: eslint, prettier
